# Visual Studio files
.vs/
*.vscode/
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.ide
*.pdb
*.ipch/
*.obj/
*.cache/
*.dll
*.exe
*.log
*.sqlite
*.sqlite3
*.sdf
*.opensdf
*.pyc
*.pyo
*.ncb
*.resharper
*.resharper.user
*.suo
*.user
*.sln.docstates

# .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.iobj
*.ipdb
*.opendb
*/[Dd]ebug*/
*/[Rr]elease*/
